body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    margin: auto;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

td {
    height: 100px;
    width: 100px;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
}